extends ./layout.pug
block content
  section.container
    h1.header= title
    img(src="indentation-war.png", alt="Indentation war")
    article.item
      div
        a.button.add(href="/agregar") Agregar
        if(data.length)
          table.table
            tr
              th Nombre
              th Twitter
              th País
              th Equipo
              th
              th
            each contacto in data
              tr
                td #{contacto.name}
                td #{contacto.twitter}
                td #{contacto.country}
                td #{contacto.side}
                td
                  a.button.edit(href=`/editar/${contacto.id}`) Editar
                td
                  form(action=`/eliminar/${contacto.id}`, method="post")
                    input.button.delete(type="submit", value="Eliminar")
        else
          div.error No tienes contactos que mostrar
