*,
*::after,
*::before {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}
body {
 font-family: Arial, Helvetica, sans-serif,;;
 font-size: 42px;

 width: 100vw;
 height: 100vh;
 background: linear-gradient(45deg, #006084 ,70%, #f0b421);
 color: #fff;
 text-shadow: 1px 2px 7px rgba(0,0,0,.8);
}
