
body {
 background: linear-gradient(45deg,$blue-devex ,70%, $yellow-devex) no-repeat fixed;
 color: #fff;

 text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.4);
}

a {
  color: $yellow;
  font-weight: bold;
  text-decoration: none;
  width: auto;
  &:hover {
    color: $blue-light;
  }
}
