extends pug/templates/base.pug
block header
  include ./pug/blocks/header.pug
  br
  br
  br
  br
  br
  h1= htmlWebpackPlugin.options.title
  h1= titleDemo
  h1 #{titleDemo2}
  h1 !{titleDemo3}

  ul
  -
  each item in menu
    li: a(href=`${item}.html`) #{item}

  p= casa
append config
  - var titleDemo = "Inicio"
  - var titleDemo3 = "Inicio 3"
