extends ./layout.pug
block content
  div.error
    h1 Error No #{error.status}
    h2= error.statusText
    a.button.show(href="/") Inicio
    div.item
      pre #{error.stack}
    img(src="/indentation-war.png", alt="Indentation war")
