extends ./layout.pug

block content
  section.container
    h1.header= title
      if(message)
        div.error= message
    article.item
      form.form(method="post", action="/login")
        fieldset
          div
            input#username(type="text", name="username", placeholder="Usuario", required)
          div
            input#password(type="password", name="password", placeholder="Contraseña", required)
          div
            input.button.show(type="submit", value="Iniciar sesión")
          div
            a.button.show(href="/signin") Registrarse
