extends ./layout.pug

block content
  section.container
    h1.header= title
    article.item
      form.form(method="post", action="/signin")
        fieldset
          div
            input#username(type="text", name="username", placeholder="Usuario", required)
          div
            input#password(type="password", name="password", placeholder="Contraseña", required)
          div
            input.button.show(type="submit", value="Registrar")
          div
            a.button.show(href="/login") Iniciar sesión
