block config
  include ../config.pug
  - var titleDemo2 = "Inicio 2"
  -
    var menu = ['a','b',
    'c','d','e']
  - var casa = 'Mi casa xD'
  include ../mixins/mixins.pug

html(lang="es-MX" dir="ltr" prefix="og:http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")

    meta(name="description" content="This is a description")
    meta(name="keywords" content="")

    title xxx
    link(rel="shortcut icon" type="image/png" href=require(`./icons/favicon.png`))


    include ../blocks/opengraph.pug

    // Set the base URL for all relative URLs within the document
    // base(href="http://example.com/page.html")
    meta(name="google" value="notranslate")
  body
    block header
    block nav
    block main
    block footer
      script(src="https://cdn.polyfill.io/v2/polyfill.min.js")
