$blue-devex: #006084;
$yellow-devex: #f0b421;

$font-main : Arial, Helvetica, sans-serif;
$font-base : 16px;
$blue-dark : #1F3E79;
$blue-light: #2291D0;
$yellow    : #FDD624;

html {
  font-family: $font-main;
  font-size: $font-base;
}
