//Configuraciones para estilos
@import './config';
// Base
@import './base/normalize';
@import './base/responsimple';
// Importar fuentes
@import './base/fonts';
@import './base/reset';
//
@import './base/base';

@import '~animate.css/animate.css';
//  Nota: In _video.scss of owl.carousel
//  we need change background: url("owl.video.play.png") no-repeat;
//  to background: url("~owl.carousel/src/img/owl.video.play.png") no-repeat;
@import '~owl.carousel/src/scss/owl.carousel.scss';
@import '~owl.carousel/src/scss/owl.theme.default.scss';

html {
 font-family: $font-main;
 font-size: $font-base;
}

a {
 color: $yellow;

 font-weight: bold;
}

a:hover {
 color: $blue-light;
}

.flex {
 display: flex;
}

.redondo {
 border-radius: 100%;
}

.scale2 {
 transform: scale(2,2);
}

.header {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;

 background-color: $blue-dark;
}

.nav ul {
 display: flex;
 margin-left: 1.5rem;

 align-items: center;
 flex-wrap: wrap;
 justify-content: flex-end;
}

.nav li {
 z-index: 998;

 width: 33%;
 padding: .25rem 0;

 list-style-type: none;

 flex: auto;
}

.nav li:nth-child(4) {
 position: absolute;
 top: 1rem;
 left: -1.5rem;
 z-index: 997;
}

.nav picture > img {
 width: auto;
 height: 5rem;
}

.section {
 min-height: 100vh;
 padding-top: 8rem;
}

.section picture {
 display: block;
 max-width: 600px;
}

.section .item > * {
 margin: 1rem auto;

 font-size: 1.25rem;
}

.section iframe {
 display: block;
}

.title {
 color: $blue-dark;

 font-size: 2rem;
}

.youtube {
 width: 320px;
 height: 180px;
}

@media screen and (min-width: 30em) {
 .nav li {
  width: 25%;
  padding: .5rem 0;

  font-size: 1.25rem;
 }

 .nav li:nth-child(4) {
  top: .5rem;
  left: -2rem;
 }

 .youtube {
  width: 480px;
  height: 270px;
 }
}

@media screen and (min-width: 48em) {
 .nav li {
  width: 14%;
  padding: .5rem 0;

  font-size: 1.25rem;
 }

 .nav li:nth-child(4) {
  top: -.75rem;
  left: -2rem;
 }

 .section {
  padding-top: 5rem;
 }

 .youtube {
  width: 640px;
  height: 360px;
 }
}

@media screen and (min-width: 64em) {
 .nav ul {
  margin-left: 0;

  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
 }

 .nav li {
  padding: 0;

  font-size: 1.5rem;
 }

 .nav li:nth-child(4) {
  position: static;
 }

 .section {
  padding-top: 8rem;
 }
}
