extends ./layout.pug
block content
  section.container
    h1.header= title
    article.item
      form.form(method="post", action=`/actualizar/${data[0].id}`)
        input(type="hidden", name="id", value=`${data[0].id}`)
        fieldset
          div
            input(type="text", name="name", placeholder="Nombre", value=`${data[0].name}`, required)
          div
            input(type="text", name="twitter", placeholder="Twitter", value=`${data[0].twitter}`, required)
          div
            input(type="text", name="country", placeholder="País", value=`${data[0].country}`, required)
          div
            input(type="text", name="side", placeholder="Equipo", value=`${data[0].side}`, required)
          div
            input.button.add(type="submit", value="Editar")
    a.button.show(href="/") Inicio
