ul.item
  +menu('#maraton','Maratón')
  +menu('#mito','Mito')
  +menu('#olimpico','Olímpico')
  li
    +pic("olimpicos/logo-maraton","png", "Image")
  +menu('#mayores','Mayores')
  +menu('#top-ten','Top ten')
  +menu('#inspirate','Inspírate')
