// Open graph - Tags required
meta(property="og:url" content="https://devexteam.com")
meta(property="og:type" content="website")
meta(property="og:title" content="DevexTeam")
meta(property="og:image" content="https://devexteam.com/logo-devexteam.png")
// Open graph
meta(property="og:description" content="Web development")
meta(property="og:site_name" content="devexteam.com")
meta(property="og:locale" content="es_MX")
meta(property="article:author" content="Devex[team]")
meta(property="og:image:secure_url" content="https://devexteam.com/logo-devexteam.png")
meta(property="og:image:type" content="image/png")
meta(property="og:image:width" content="100")
meta(property="og:image:height" content="100")
meta(property="og:image:alt" content="Logo from page")
// Open graph twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="@devex_team")
meta(name="twitter:creator" content="@devex_team")
meta(name="twitter:url" content="https://devexteam.com")
meta(name="twitter:title" content="Your title here")
meta(name="twitter:description" content="Your 200-character description here")
// Note: For large images the size should be: 280x150px and that the file size is not more than 1MB
meta(name="twitter:image" content="https://devexteam.com/logo-devexteam.png")
// disallow Twitter from using your site's info for personalization purposes
meta(name="twitter:dnt" content="on")
