<!-- Pendiente corregir este mixing para tener el atributo alt en las imagenes como un parametro -->
mixin pic(name, ext, alt)
  picture
    source(srcset=require(`./img/webp/${name}.webp`), type="image/webp")
    img(src=require(`./img/${name}.${ext}`), alt=`${alt}`)
